@model DocumentRegistry.Web.Models.DocumentType.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Typy dokumentów</h2>

<table class="table table-sm">
<tr>
    <td>@Html.DisplayNameFor(x => x.DocumentTypes.First().Name)</td>
    <td></td>
</tr>

@foreach (var documentType in Model.DocumentTypes)
{
    <tr>
        <td>@documentType.Name</td>
        @Html.ActionLink("Szczegóły", "Details", "DocumentType", new {id = documentType.Id}, new {@class = "btn btn-outline-primary btn-sm"})
    </tr>
}
</table>
