@model DocumentRegistry.Web.Models.DocumentType.Search

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <h2 class="col-sm-4">Typy dokumentów</h2>
    <div class="col-sm-6"></div>
    @Html.ActionLink("Dodaj", "Create", "DocumentType", null, new {@class = "btn btn-outline-secondary mb-2"})
</div>

<div class="row">
    
</div>

<table class="table table-sm">
<tr class="table-active">
    <td>@Html.DisplayNameFor(x => x.DocumentTypes.First().Name)</td>
    <td></td>
</tr>

@foreach (var documentType in Model.DocumentTypes)
{
    <tr>
        <td style="width: 90%">@documentType.Name</td>
        <td>@Html.ActionLink("Szczegóły", "Details", "DocumentType", new {id = documentType.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
    </tr>
}
</table>
