name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Restore dependencies
      run: dotnet restore DocumentRegistry/DocumentRegistry.sln
    - name: Build API
      run: dotnet build DocumentRegistry/DocumentRegistry.Api/DocumentRegistry.Api.csproj --no-restore -r linux-x64
    - name: Build WebAPP
      run: dotnet build DocumentRegistry/DocumentRegistry.Web/DocumentRegistry.Web.csproj --no-restore -r linux-x64
    - name: Test API
      run: dotnet test DocumentRegistry/DocumentRegistry.Api/DocumentRegistry.Api.csproj --no-build --verbosity normal
    - name: Test WebAPP
      run: dotnet test DocumentRegistry/DocumentRegistry.Web/DocumentRegistry.Web.csproj --no-build --verbosity normal
    - name: Dotnet publish
      run: dotnet publish DocumentRegistry/DocumentRegistry.Api/DocumentRegistry.Api.csproj -c Release -o deploy/Api -r linux-x64 --self-contained
    - name: Dotnet publish
      run: dotnet publish DocumentRegistry/DocumentRegistry.Web/DocumentRegistry.Web.csproj -c Release -o deploy/Web -r linux-x64 --self-contained
    - name: Action - rsync API
      uses: up9cloud/action-rsync@v1.3
      env:
        SOURCE: /home/runner/work/DocumentRegistry/DocumentRegistry/deploy/Api/
        HOST: ${{ secrets.REMOTE_HOST }}
        USER: ${{ secrets.REMOTE_USER }}
        KEY: ${{ secrets.REMOTE_SSH_KEY }}
        TARGET: ${{ secrets.REMOTE_TARGET_API }}
        PORT: ${{ secrets.REMOTE_PORT }}
    - name: Action - rsync WEB
      uses: up9cloud/action-rsync@v1.3
      env:
        SOURCE: /home/runner/work/DocumentRegistry/DocumentRegistry/deploy/Web/
        HOST: ${{ secrets.REMOTE_HOST }}
        USER: ${{ secrets.REMOTE_USER }}
        KEY: ${{ secrets.REMOTE_SSH_KEY }}
        TARGET: ${{ secrets.REMOTE_TARGET_WEB }}
        PORT: ${{ secrets.REMOTE_PORT }}
    - name: Run SSH command
      uses: garygrossgarten/github-action-ssh@v0.3.0
      with:
        command: chmod +x /home/hane/apps/DocumentRegistry/Api/DocumentRegistry.Api && chmod +x /home/hane/apps/DocumentRegistry/Web/DocumentRegistry.Web && sudo service DocumentRegistry.Api start && sudo service DocumentRegistry.Web start
        host: ${{ secrets.REMOTE_HOST }}
        port: ${{ secrets.REMOTE_PORT }}
        username: ${{ secrets.REMOTE_USER }}
        privateKey: ${{ secrets.REMOTE_SSH_KEY }}


